@model WebForm.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Dziękujemy</title>
    <style>
        body {background-color: #f1f1f1; }
    </style>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.przyklad.pl";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "nazwaSMTP";
            WebMail.Password = "hasloSMTP";
            WebMail.From = "rsvp@przyklad.pl";

            WebMail.Send("gospodarz@przyklad.pl", "Powiadomienie",
                Model.Name + ((Model.WillAttend ?? false) ? "" : "nie")
                + "przyjdzie");
        }
        catch (Exception)
        {
            @:<div class="text-center"/>
            <h4>Nie można wsyłać wiadomości :(</h4>
        }
    }

        <div class="text-center">
            <h1>Dziękujemy, @Model.Name ! </h1>
            <br />
            <br />
            <div class="lead">
                @if (@Model.WillAttend == true)
                {
                    @: Cieszymy się, że przyjdziesz :)
            }
                else
                {
                    @: Przykro nam, że nie przyjdziesz :(
            }
            </div>
        </div>
</body>
</html>
